<html>

<head>
    <title>Login!</title>
</head>

<body>
    <form action="/checkLogin" method='POST'>
        <div id="container">
            <label for="uname">
                <b>Username</b>
            </label>
            <input id="username" type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw">
                <b>Password</b>
            </label>
            <input id="passwd" type="password" placeholder="Enter Password" name="passwd" required>

            <button type="submit">Login</button>
        </div>
    </form>
</body>

</html>